<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Microsoft.Office.Interop.Excel" version="15.0.4795.1000" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.PowerPoint" version="15.0.4420.1017" targetFramework="net461" />
  <package id="Microsoft.Office.Interop.Word" version="15.0.4797.1003" targetFramework="net461" />
  <package id="MicrosoftOfficeCore" version="15.0.0" targetFramework="net461" />
  <package id="NLog" version="4.5.11" targetFramework="net461" />
  <package id="NLog.Config" version="4.5.11" targetFramework="net461" />
  <package id="NLog.Schema" version="4.5.11" targetFramework="net461" />
  <package id="WordGlue" version="2.1.1.8" targetFramework="net461" />
</packages>